* {
  margin: 0;
  padding: 0;
  border: 0 none;
  background: none;
}
body {
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
}
#login-wrapper {
  position: absolute;
  left: 50%;
  top: 35%;
  width: 450px;
  margin-left: -225px;
  margin-top: -155px;
}
#login-form {
  width: 450px;
  height: 450px;
  background-color: #78a5df;
  -webkit-border-radius: 225px;
  -moz-border-radius: 225px;
  border-radius: 225px;
}
ul li {
  list-style: none;
}
.body-login-form .tab-content {
  position: inherit;
  padding: inherit;
}
.b-content {
  color: #ffffff;
  font-size: 17px;
  text-align: center;
}
.b-title {
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 55px;
}
.b-text {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 40px;
}
.b-text_lang_ru {
  display: none;
}
.b-copyright {
  text-align: center;
  margin-top: 40px;
}
.b-copyright__link {
  color: #587b9d;
  text-decoration: none;
}
